@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
* {
    font-family: 'Staatliches';
    font-weight: 50;
    
    

}

.heart-btn{
    position: absolute;
    top: 203%;
    left: 4%;
    transform: translate(-50%,-50%);
  }
  .content{
    padding: 13px 16px;
    display: flex;
    border: 2px solid #eae2e1;
    border-radius: 5px;
    cursor: pointer;
  }
  .content.heart-active{
    border-color: #f9b9c4;
    background: #fbd0d8;
  }
  .heart{
    position: absolute;
    background: url("../images/img.png") no-repeat;
    background-position: left;
    background-size: 2900%;
    height: 90px;
    width: 90px;
    top: 50%;
    left: 21%;
    transform: translate(-50%,-50%);
    
  }
  .text{
    font-size: 21px;
    margin-left: 30px;
    color: grey;
    font-family: 'Montserrat',sans-serif;
  }
  .numb:before{
    content: '0';
    font-size: 21px;
    margin-left: 7px;
    font-weight: 600;
    color: #9C9496;
    font-family: sans-serif;
  }
  .numb.heart-active:before{
    content: '1';
    color: #000;
  }
  .text.heart-active{
    color: #000;
  }
  .heart.heart-active{
    animation: animate .8s steps(28) 1;
    background-position: right;
  }
  @keyframes animate {
    0%{
      background-position: left;
    }
    100%{
      background-position: right;
    }
  }
  
  
  
  


html {
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
}
/* tete de page */
header.header{
    display: flex;
    align-items: center;
    
   
}

header.header img {
    width: 20px;
    
}

section.top-page{
    background: url('../images/thumb-1920-278449.jpg');
    background-size: cover;
    height: 105vh;
    padding: 5px;
    
}

/* page de bienvenue */




.big-title{
    color:white;
    font-size: 200px;
    padding: 590px 20px;
    
    
}

.scroll-down {
    color: rgb(0, 0, 0);
    text-decoration: none;
    position:absolute;
    bottom: 0px;
    


}

/* menu de navigation */
nav.nav  {
    display: flex;
    list-style: none;
    margin-left: 30px;
    justify-content: space-between;
    width: 190px;
    
}
nav.nav li a {
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-decoration: none;
    
}


/* best sells */

.section-title {
    font-size: 75px;
    font-weight: 150px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    font-style: italic;
    

}

.section-title::before {
    content: "";
    position:absolute;
    background-color: rgb(253, 57, 8);
    width: 50px;
    height: 10px;
    bottom: 0;
}






.wp1{
    background-image: url(../images/mj1\ 1920x180\ v2.png);
    background-position: right;
    
}
.wp2{
    background-image: url(../images/HD\ wallpaper_\ michael\ jordan\ pc\ backgrounds\ hd\,\ sport\,\ jumping\,\ full\ length.jfif);
    
}
.wp3{
    background-image: url(../images/mj2\ 1980.webp);
    background-position: right
    
    
}
.wp4{
    background-image: url(../images/5-55866_background-michael-jordan-wallpaper-hd.jpg);
    background-position: left;
}



.wp-details {
    background-color: #ffffffdf;
    background-position: right;
    position: absolute;
    bottom: 952px;
    height: 500px;
    color: rgb(0, 0, 0);
}


/* pied de page */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 700;

}
footer a.cgu {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/*button download */


.button1{
    margin: 0px;
    
}

.button2{
    margin: 0px;
}

.button3{
    margin: 0px;
}

.button4{
    margin: 0px;
    
}

/* suite */

.section-title{
    font-size: 75px;
    font-weight: 150px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    font-style: italic;
    

}

.section-title::before {
    content: "";
    position:absolute;
    background-color: rgb(253, 57, 8);
    width: 50px;
    height: 10px;
    bottom: 0;
}

.best-item {
    margin: 10px;

}

.best-Wallpaper{
    background-color: rgb(250, 250, 250);
    min-height: 900px;
    display: flex;
    flex-wrap: wrap;

}



.PC-Wallpaper {
    background-size: cover;
    background-position: center;
    min-width: 470px;
    height: 700px;
    flex: 1;
    position: relative;
}

.PC-Wallpaper1{
    background-position: 565px;
    min-width: 470px;
    background-size: cover;
    height: 700px;
    flex: 1;
    position: relative;

}



.wp5{
    background-image: url(../images/C8rfzOT-michael-jordan-wallpaper-1920x1080\ fgdfgfdg.jpg);
    background-position:center;
    background-size: cover;
    
    
}

.wp6{
    background-image: url(../images/michael-jordan-04.jpg);
    background-position: right;
    
}

.wp7{
    background-image:url(../images/mj\ avec\ kobe.jpg);
    background-position: left;
    background-size: cover;

}

.wp8{
    background-image: url(../images/mjwp8.jpg);
    background-position: center;
    width: 1880px;
}

.wp-details2 {
    background-color: #ffffffdf;
    position: absolute;
    bottom: 952px;
    height: 500px;
    color: rgb(0, 0, 0);
}

.PC-Wallpaper2 {
    background-size: cover;
    background-position: center;
    min-width: 465px;
    height: 700px;
    flex: 1;
    position: relative;
}
.best-item2{
    margin: 5px;
}

/* bouton */

.button1{
    width: 100px;
    margin: 0px ;
    height: 30px;
    background-color: black;
    color:whitesmoke;
    border: 2px solid black;
    text-align:right;
    font-weight: 500;
    font-size:22px;
    border-radius: 5px;
}
.button1:hover{
    background-color: transparent;
    color: black;
}

.button2{
    width: 100px;
    height: 30px;
    margin:384px;
    background-color: black;
    color: whitesmoke;
    border: 2px solid black;
    text-align:right;
    font-weight: 500;
    font-size:22px;
    border-radius: 5px;
}
.button2:hover{
    background-color: transparent;
    color: black;
}

.button3{
    width: 100px;
    height: 30px;
    margin:0px;
    background-color: black;
    color: whitesmoke;
    border: 2px solid black;
    text-align:right;
    font-weight: 500;
    font-size:22px;
    border-radius: 5px;
}
.button3:hover{
    background-color: transparent;
    color: black;
}

.button4{
    width: 100px;
    height: 30px;
    margin:375px;
    background-color: black;
    color: whitesmoke;
    border: 2px solid black;
    text-align:right;
    font-weight: 500;
    font-size:22px;
    border-radius: 5px;
}
.button4:hover{
    background-color: transparent;
    color: black;
}



.button5{
    width: 100px;
    margin: 0px ;
    height: 30px;
    background-color: black;
    color: rgb(255, 255, 255);
    border: 2px solid black;
    text-align:right;
    font-weight: 500;
    font-size:22px;
    border-radius: 5px;

}
.button5:hover{
    background-color: transparent;
    color: black;
}

.button6{
    width: 100px;
    margin: 382px ;
    height: 30px;
    background-color: black;
    color: rgb(255, 255, 255);
    border: 2px solid black;
    text-align:right;
    font-weight: 500;
    font-size:22px;
    border-radius: 5px;

}
.button6:hover{
    background-color: transparent;
    color: black;
}

.button7{
    width: 100px;
    margin: 0px ;
    height: 30px;
    background-color: black;
    color: rgb(255, 255, 255);
    border: 2px solid black;
    text-align:right;
    font-weight: 500;
    font-size:22px;
    border-radius: 5px;

}
.button7:hover{
    background-color: transparent;
    color: black;
}

.button8{
    width: 100px;
    margin: 382px ;
    height: 30px;
    background-color:black;
    color: rgb(255, 255, 255);
    border: 2px solid black;
    text-align:right;
    font-weight: 500;
    font-size:22px;
    border-radius: 5px;

}
.button8:hover{
    background-color: transparent;
    color: black;
}







